.main {
    display: grid;
    grid-template-rows: 110px 85px;
    width: 100%;
    
    @media(min-width: 520px) {
        grid-template-rows: 55px 85px;
    }

    h2 {
        padding-left: 15px;
    }

    .search-container {
        display: grid;
        grid-template-columns: 4fr 1fr;
        height: 65px;
        margin: 10px 0;
        width: 100%;
    
        #user,
        .search {
            border: none;
            height: 60px;
        }
    
        #user {
            border-bottom-right-radius: 0;
            border-top-right-radius: 0;
        }
    
        .search {
            background-color: #f7b718;
            border-bottom-left-radius: 0;
            border-top-left-radius: 0;
        }
    }
}
