.loading {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    z-index: 1000;

    .spinner-border {
        position: relative;
        top: calc(50% - 60px);
        left: calc(50% - 60px);
        width: 120px;
        height: 120px;
        font-size: 3em;
    }
}

.info-user {
    display: grid;
    grid-template-columns: 1fr;
    height: fit-content;
    margin-bottom: 25px;
    width: 100%;
    
    .container-user {
        .user-avatar {
            border-radius: 50%;
            max-width: 80%;
            margin: 5% 10%;
        }

        .user-name {
            text-align: center;
        }
    }

    .container-actions {
        display: grid;
        grid-template-columns: 1fr;

        .apresentation-action {
            display: none;
        }

        .button-action {
            margin: auto;

            .user-starred {
                margin-left: 15px;
            }
        }
    }

    

    @media(min-width: 600px) {
        grid-template-columns: 30% 70%;

        .container-actions {
            grid-template-rows: auto 45px;
    
            .apresentation-action {
                align-items: center;
                display: flex;
    
                p {
                    margin: auto 0;
                }
            }

            .button-action {
                margin: auto 0 auto auto;
            }
        }
    }
}

.repos-container {
    display: grid;
    margin: auto 0;
    row-gap: 25px;
    width: 100%;

    .repos-notfound {
        text-align: center;
        min-height: 35vh;
    }

    .repo-item {
        background-color: #707070;
        border-radius: 6px;
        display: grid;
        grid-template-rows: 1fr 1.5fr 1fr;
        padding: 15px;

        .repo-name {

        }

        .repo-description {

        }

        .repo-infos {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            .lang{}
            .fork{}
            .starred{}
        }
    }

}