.info-user {
    display: grid;
    grid-template-columns: 30% 70%;
    height: fit-content;
    width: 100%;

    .container-user {
        .user-avatar {
            max-width: 80%;
            margin: 5% 10%;
            border-radius: 50%;
        }

        .user-name {
            text-align: center;
        }
    }

    .container-actions {
        display: grid;
        grid-template-rows: auto 45px;

        .apresentation-action {
            display: flex;
            align-items: center;

            p {
                margin: auto 0;
            }
        }

        .button-action {
            margin: auto 0 auto auto;

            .user-starred {
                margin-left: 15px;
            }
        }
    }
}