@import "~bootstrap/scss/bootstrap";

body {
    margin: 0;
    padding: 0;
    background-color: #272223;
    color: #fff;
    
    .container-xl {
        @media(min-width: 1290px) {
            max-width: 1220px;
        }

        @media(min-width: 1480px) {
            max-width: 1334px;
        }
    }
}