@import "~bootstrap/scss/bootstrap";

body {
    background-color: #272223;
    color: #fff;
    margin: 0;
    padding: 0;

    .container-xl {
        @media(min-width: 1290px) {
            max-width: 1220px;
        }

        @media(min-width: 1480px) {
            max-width: 1334px;
        }
    }

    .content {
        .container-main {
            display: flex;
            flex-wrap: wrap;
            margin-top: 105px;
            min-height: 60vh;
            position: relative;

            @media(min-width: 600px){
                min-height: 80vh;
            }
        }
    }
}